/node_modules
/public/hot
/vendor
.env
.env.backup
.phpunit.result.cache
phpcs.xml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/uploads
/storage/app/uploads
docker-compose.override.yml
/.idea
/.vscode
/nbproject/private/
/update
copy.php
change-list.txt
.DS_Store
*.sql
*.log
storage/app/.access_log
storage/app/.app_installed
storage/app/.temp_app_installed
storage/app/.account_email
storage/app/.access_code
storage/framework/cache/data/*
storage/framework/sessions/*
bootstrap/cache/*.php
vendor/spondonit/service/helpers/helper.php.backup